.ocean {
  height: 5%;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #221e5209;
  z-index: 0;
}

.wave {
  background: url(../imagenes/wave.svg) repeat-x;
  position: absolute;
  top: -150px;
  width: 6400px;
  height: 198px;
  animation: wave 20s cubic-bezier(0.36, 0, 0.63, 0) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(1) {
  top: -150px;
  animation: wave 6s cubic-bezier(0.36, 0, 0.63, 0) -0.125s infinite;
  opacity: 1;
}
.wave:nth-of-type(2) {
  top: -150px;
  animation: wave 10s cubic-bezier(0.36, 0., 0.63, 0) -0.125s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
.endWave{
	display:none;
}